.App {
  text-align: center;
  margin: 1rem;
}

.country {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  width: 150px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
